@import "tailwindcss";
:root {
  --background: #020208;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars for full screen 3D */
}
